*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #9D8189;
    background-color: #F4ACB7;
}

a{
    color: lightcoral;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

header{
    background: #FFCAD4;
    color: #9D8189;
    text-align: center;
    padding: 6px;
    margin: 15px;

    h1{
        font-size: 1.8 rem;
        letter-spacing: 1 px;
    }

    p{
        opacity: 0.3;
        margin: 0;
    }

}

nav{
    ul{
        list-style: none;
        padding: 30px;
    }
    li{
        margin: 16px 0;
        display: block;
    }
}

main{
    margin: 15px;
    padding: 30px;
    background-color: #FFCAD4;

    h3{
        font-size: 20px;
    }
}

footer{
    margin: 15px;
    text-align: center;
    background-color: #FFCAD4;
}