*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background: rgb(245, 245, 245);
    
    h1{
        font-size: 3rem;
    }
    h3{
        margin: 20px 0;
    }
    input{
        width: 100%; 
        height: 30px; 
        padding: 2px 10px; 
        margin-bottom: 10px;
        font-size: 15px; 
        border: solid 1px lightgrey;
        border-radius: 8px;
    }
}

.msg{
    .ok{
        color: green;
    }
    .error{
        color: tomato;
    }
}

#addTaskButton{
    padding: 10px 60px; 
    margin: 20px 0;
    background-color: lightpink; 
    border: none; 
    border-radius: 7px;
    color: black; 
}

ul{
    list-style: none;
    
}

li{
    margin-top: 10px;
    border: none;
    border-radius: 7px;
    padding: 15px 20px;
    background: white;
    

    .close-btn{
        padding: 5px 10px;
        
        font-size: 15px;
        visibility: hidden;
        background-color: white;
        color: red;
        border: solid 1px grey;
        border-radius: 5px;
        display: inline;
    }
}

li:hover {
    .close-btn{
        display: flex;
        justify-content: center;
        text-align: center;
        visibility: visible;
        
        float: right;
    }
    .close-btn:hover {
        background-color: red;
        color: white;
    }
}

