*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFAE0;
}

header{
    padding: 20px;
    background-color: #283618;
    text-align: center;
    color: white;
    img{
        height: 40px;
    }
    ul{
        list-style: none;
    }
}

#descripcion{
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #938e6e;
    height: auto;

    h3{
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
        color: #283618;
    }

    h5{
        margin-bottom: 10px;
        font-size: 20px;
        color: #BC6C25;
    }
    p{
        margin-bottom: 10px;
    }
}

#proyectos{
    background-color: #283618;
    color: white;
    padding: 20px;
    h2{
        font-size: 30px;
        text-align: center;
    }
}

.contenedor{
    padding: 30px 80px;
    background-color: #606C38;
    color: white;
    height: auto;

    h3{
        font-size: 25px;
        margin-bottom: 15px;
        color: #BC6C25;
    }
    p{
        text-align: left;
        justify-content: center;
        color: #000;
        font-size: 18px;
    }

    img{
        height: 150px;
        border-radius: 5px;
    }

    .espacio{
        margin: 10px;
    }
    .proyecto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 10px;
        border: 4px #BC6C25;
        height: auto;
    }
    
}

#formulario{
    background-color: #BC6C25;
    color: white;
    padding: 20px;
    h2{
        font-size: 30px;
        text-align: center;
    }
}

#f-contenedor{
    padding: 30px 50px;
    height: auto;
    background-color: #DDA15E;

    display: grid;
    align-content: center;
    justify-content: center;
    .btn{
        padding: 10px 40px;
        font-size: 20px;
        background-color: #BC6C25;
        color: white;
        border: solid 1px #BC6C25;
        border-radius: 5px;
    }
    .btn:hover{
        background-color: white;
        color: #BC6C25;
    }
    p{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .field{
        padding: 5px;
        margin-bottom: 15px;
        width: 600px;
        height: 30px;
        border: solid 1px #cfcfcf;
        border-radius: 5px;
        font-size: 18px;
    }
    
}

footer{
    padding: 30px;
    background-color: #283618;
    color: white;
    text-align: end;
}